aseXML_r38/Acknowledgements_r15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation>This schema file is part of the aseXML schema set, and is subject to the terms and conditions that are detailed in the aseXML_r*.xsd schema file with which this file is used</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>Purpose - Defines the structure of Message and Transaction Acknowledgments</xsd:documentation>
	</xsd:annotation>
	<!-- Support Types -->
	<xsd:simpleType name="ReceiptIdentifier">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Provide a unique identifier to acknowledge a message or transaction.
Detail - A receipt identifier is generated by the receiver of an aseXML message or transaction. Its purpose is to provide the sender with a string that can be quoted when inquiring with regard to the progress of processing for a message or transaction. As implied by the name, it is the sender's guarantee that the reciever will process the message or transaction.

Note that receipt identifiers do not have to be globally unique, only unique to a particular receiver. However, the length has been chosen such that UUIDs can be used as receipt identifiers if considered appropriate, guaranteeing global uniqueness. 
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UniqueIdentifier"/>
	</xsd:simpleType>
	<xsd:simpleType name="MessageStatus">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Indicate the acceptance or rejection of the message.
	</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Accept"/>
			<xsd:enumeration value="Reject"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransactionStatus">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Indicate the acceptance, partial acceptance or rejection of the transaction.
	</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Accept"/>
			<xsd:enumeration value="Partial"/>
			<xsd:enumeration value="Reject"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Main Types -->
	<xsd:complexType name="MessageAcknowledgement">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Acknowledge a received message
Detail - For every message, a message acknowledgment is generated (with the exception of messages containing message acknowledgements). 

Any errors are reported via Event elements.

If a message is rejected, no receipt identifier need be provided with the acknowledgement.
	</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Event" type="Event" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="initiatingMessageID" type="MessageIdentifier" use="required"/>
		<xsd:attribute name="receiptID" type="ReceiptIdentifier" use="optional"/>
		<xsd:attribute name="receiptDate" type="xsd:dateTime" use="required"/>
		<xsd:attribute name="status" type="MessageStatus" use="required"/>
		<xsd:attribute name="duplicate" type="YesNo" default="No"/>
	</xsd:complexType>
	<xsd:complexType name="TransactionAcknowledgement">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Acknowledge a received transaction
Detail - For every transaction, a transaction acknowledgment is generated.

Any errors are reported via Event elements.

If a transaction is rejected, no receipt identifier need be provided with the acknowledgement.
	</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Event" type="Event" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="initiatingTransactionID" type="TransactionIdentifier" use="required"/>
		<xsd:attribute name="receiptID" type="ReceiptIdentifier" use="optional"/>
		<xsd:attribute name="receiptDate" type="xsd:dateTime" use="required"/>
		<xsd:attribute name="status" type="TransactionStatus" use="required"/>
		<xsd:attribute name="duplicate" type="YesNo" default="No"/>
		<xsd:attribute name="acceptedCount" type="xsd:nonNegativeInteger" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="Acknowledgements">
		<xsd:annotation>
			<xsd:documentation>
Purpose - The payload used to carry acknowledgments
Detail - The aseXML acknowledgement model calls for each message and transaction to be acknowledged, subject to certain rules. For further information, refer to the aseXMl guidelines.
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MessageAcknowledgement" type="MessageAcknowledgement" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TransactionAcknowledgement" type="TransactionAcknowledgement" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
