aseXML_r38/CATSTableReplication_r35.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by ﻿Australian Energy Market Operator (Australian Energy Market Operator) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation>This schema file is part of the aseXML schema set, and is subject to the terms and conditions that are detailed in the aseXML_r*.xsd schema file with which this file is used</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>
Purpose - Define the CATS specific formats for table replication
 </xsd:documentation>
	</xsd:annotation>
	<!-- Support Types -->
	<xsd:simpleType name="CATSDeregistrationCode">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - DeregCode
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CATSDeregistrationDescription">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - DeregDesc
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CATSErrorCode">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - ErrorCode
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:nonNegativeInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="CATSErrorDescription">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - ErrorDesc
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CATSRetrospectivityCode">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - RetroCode
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CATSRetrospectivityDescription">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - RetroDesc
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CATSObjectionRuleDescription">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - ObjRuleDesc
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BDTStatus">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - ObjRuleDesc
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UPDATE"/>
			<xsd:enumeration value="INSERT"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NMIRangesAttributeType">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - Attribute
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MSATSCodeValueType">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - CodeType
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MSATSCodeValue">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - CodeValue
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MSATSCodeValueDescription">
		<xsd:annotation>
			<xsd:documentation>
MSATS Data Model Column - CodeValueDesc
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Codes Replication Row Types -->
	<xsd:complexType name="CATSChangeReasonCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSChangeReasonCodes table
MSATS Data Model Table - CATS_Change_Reason_Codes
Replication Table Name - CATSChangeReasonCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="CATSChangeReasonCode"/>
					<xsd:element name="Description" type="CATSChangeReasonDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSChangeStatusCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSChangeStatusCodes table
MSATS Data Model Table - CATS_CR_Status_Codes
Replication Table Name - CATSChangeStatusCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="CATSChangeStatusCode"/>
					<xsd:element name="Description" type="CATSChangeStatusDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSDataSourceCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSDataSourceCodes table
MSATS Data Model Table - CATS_Data_Source_Codes
Replication Table Name - CATSDataSourceCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="CATSDataSourceCode"/>
					<xsd:element name="Description" type="CATSDataSourceDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSDeregistrationCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSDeregistrationCodes table
MSATS Data Model Table - CATS_Dereg_Codes
Replication Table Name - CATSDeregistrationCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="CATSDeregistrationCode"/>
					<xsd:element name="Description" type="CATSDeregistrationDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DistributionLossFactorCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the DistributionLossFactorCodes table
MSATS Data Model Table - CATS_DLF_Codes
Replication Table Name - DistributionLossFactorCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="DistributionLossFactorCode"/>
					<xsd:element name="Description" type="DistributionLossFactorDescription"/>
					<xsd:element name="Jurisdiction" type="JurisdictionCode"/>
					<xsd:element name="Value" type="DistributionLossFactorValue"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r9" use="optional" default="r9"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EmbeddedNetworkIdentifierRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the EmbeddedNetworkIdentifiers table
MSATS Data Model Table - CATS_Emb_Net_ID_Codes
Replication Table Name - EmbeddedNetworkIdentifiers
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Identifier" type="EmbeddedNetworkIdentifier"/>
					<xsd:element name="Description" type="EmbeddedNetworkDescription"/>
					<xsd:element name="Locality" type="AustralianSuburbOrPlaceOrLocality"/>
					<xsd:element name="State" type="AustralianStateOrTerritory"/>
					<xsd:element name="PostCode" type="AustralianPostCode"/>
					<xsd:element name="ExemptEmbeddedNSP" type="PartyIdentifier" nillable="true" minOccurs="0"/>
					<xsd:element name="DLFCodeParentNMI" type="DistributionLossFactorCode" nillable="true" minOccurs="0"/>
					<xsd:element name="TNICodeParentNMI" type="TransmissionNodeIdentifier" nillable="true" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ErrorCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the ErrorCodes table
MSATS Data Model Table - CATS_Error_Codes
Replication Table Name - ErrorCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="CATSErrorCode"/>
					<xsd:element name="Description" type="CATSErrorDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="JurisdictionCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the JurisdictionCodes table
MSATS Data Model Table - CATS_Jurisdiction_Codes
Replication Table Name - JurisdictionCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="JurisdictionCode"/>
					<xsd:element name="Description" type="JurisdictionDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MeterInstallationTypeCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the MeterInstallationTypeCodes table
MSATS Data Model Table - CATS_Meter_Install_Type_Codes
Replication Table Name - MeterInstallationTypeCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="MeterInstallationTypeCode"/>
					<xsd:element name="Description" type="MeterInstallationTypeDescription"/>
					<xsd:element name="ManualRead" type="YesNo"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NMIClassificationCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the NMIClassificationCodes table
MSATS Data Model Table - CATS_NMI_Class_Codes
Replication Table Name - NMIClassificationCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="NMIClassificationCode"/>
					<xsd:element name="Description" type="NMIClassificationDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NMIStatusCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the NMIStatusCodes table
MSATS Data Model Table - CATS_NMI_Status_Codes
Replication Table Name - NMIStatusCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="NMIStatusCode"/>
					<xsd:element name="Description" type="NMIStatusDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSObjectionCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSObjectionCodes table
MSATS Data Model Table - CATS_Objection_Codes
Replication Table Name - CATSObjectionCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="CATSObjectionCode"/>
					<xsd:element name="Description" type="CATSObjectionDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProfileRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the ProfileNames table
MSATS Data Model Table - CATS_Profile_Names_see_MDM
Replication Table Name - ProfileNames
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Name" type="ProfileName"/>
					<xsd:element name="Description" type="ProfileDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSReadTypeCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSReadTypeCodes table
MSATS Data Model Table - CATS_Read_Type_Codes
Replication Table Name - CATSReadTypeCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="CATSReadTypeCode"/>
					<xsd:element name="Description" type="CATSReadTypeDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSRetrospectivityCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSRetrospectivityCodes table
MSATS Data Model Table - CATS_Retrospectivity_Codes
Replication Table Name - CATSRetrospectivityCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="CATSRetrospectivityCode"/>
					<xsd:element name="Description" type="CATSRetrospectivityDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RoleIdentifierRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the RoleIdentifiers table
MSATS Data Model Table - CATS_Roles
Replication Table Name - RoleIdentifiers
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Identifier" type="RoleIdentifier"/>
					<xsd:element name="Description" type="RoleDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransmissionNodeIdentifierRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the TransmissionNodeIdentifiers table
MSATS Data Model Table - CATS_TNI_Codes
Replication Table Name - TransmissionNodeIdentifiers
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="TransmissionNodeIdentifier"/>
					<xsd:element name="Description" type="TransmissionNodeDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSTransactionTypeCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSTransactionTypeCodes table
MSATS Data Model Table - CATS_Trans_Type_Codes
Replication Table Name - CATSTransactionTypeCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="CATSTransactionTypeCode"/>
					<xsd:element name="Description" type="CATSTransactionTypeDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSNetworkTariffCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATS Network Tariff Codes table
MSATS Data Model Table - CATS_networktariff_Codes
Replication Table Name - CATSNetworkTariffCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="LNSP" type="PartyIdentifier"/>
					<xsd:element name="Code" type="NetworkTariffCode"/>
					<xsd:element name="Description" type="NetworkTariffCodeDescription"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r10" use="optional" default="r10"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSStreamlinedCRCodeRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSStreamlinedCR Codes table
MSATS Data Model Table - CATS_Streamlined_CR_Codes
Replication Table Name - CATSStreamlineCRCodes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="Code" type="CATSChangeReasonCode"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r10" use="optional" default="r10"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MSATSCodeValuesRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the MSATSCodeValues table
MSATS Data Model Table - MSATS_CODE_VALUES
Replication Table Name - MSATSCodeValues
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="Type" type="MSATSCodeValueType"/>
					<xsd:element name="Value" type="MSATSCodeValue"/>
					<xsd:element name="Description" type="MSATSCodeValueDescription"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r19" use="optional" default="r19"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Rules Replication Row Types -->
	<xsd:complexType name="CATSChangeInitiationRuleRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSChangeInitiationRules table
MSATS Data Model Table - CATS_CR_Initiation_Rules
Replication Table Name - CATSChangeInitiationRules
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="ChangeReasonCode" type="CATSChangeReasonCode"/>
					<xsd:element name="Role" type="RoleIdentifier"/>
					<xsd:element name="RoleStatus" type="CATSRoleStatus"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r9" use="optional" default="r9"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NMIAccessRuleRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the NMIAccessRules table
MSATS Data Model Table - CATS_Discovery_Access_Rules
Replication Table Name - NMIAccessRules
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="JurisdictionCode" type="JurisdictionCode"/>
					<xsd:element name="Role" type="RoleIdentifier"/>
					<xsd:element name="Table" type="xsd:string"/>
					<xsd:element name="Field" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NMISearchRuleRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the NMISearchRules table
MSATS Data Model Table - CATS_Discovery_Search_Rules
Replication Table Name - NMISearchRules
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="JurisdictionCode" type="JurisdictionCode"/>
					<xsd:element name="Role" type="RoleIdentifier"/>
					<xsd:element name="SearchOnDPID" type="YesNo"/>
					<xsd:element name="SearchOnAddress" type="YesNo"/>
					<xsd:element name="SearchOnMeterIdentifier" type="YesNo"/>
					<xsd:element name="NMIReturnCount" type="xsd:nonNegativeInteger"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSJurisdictionalRuleRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSJurisdictionalRules table
MSATS Data Model Table - CATS_Jurisdictional_Rules
Replication Table Name - CATSJurisdictionalRules
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="ChangeReasonCode" type="CATSChangeReasonCode"/>
					<xsd:element name="JurisdictionCode" type="JurisdictionCode"/>
					<xsd:element name="ObjectionLodgementPeriod" type="CATSObjectionLodgementPeriod"/>
					<xsd:element name="ObjectionClearancePeriod" type="CATSObjectionClearancePeriod"/>
					<xsd:element name="NotificationPeriod" type="CATSNotificationPeriod"/>
					<xsd:element name="ProspectiveDays" type="CATSProspectiveDays"/>
					<xsd:element name="RetrospectiveDays" type="CATSRetrospectiveDays"/>
					<xsd:element name="TimeOfChange" type="xsd:time" nillable="true" minOccurs="0"/>
					<xsd:element name="NMIClassificationCode" type="NMIClassificationCode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSNotificationRuleRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSNotificationRules table
MSATS Data Model Table - CATS_Notification_Rules
Replication Table Name - CATSNotificationRules
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="ChangeReasonCode" type="CATSChangeReasonCode"/>
					<xsd:element name="Role" type="RoleIdentifier"/>
					<xsd:element name="RoleStatus" type="CATSRoleStatus"/>
					<xsd:element name="ChangeStatusCode" type="CATSChangeStatusCode"/>
					<xsd:element name="TransactionTypeCode" type="CATSTransactionTypeCode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSObjectionRuleRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSObjectionRules table
MSATS Data Model Table - CATS_Objection_Rules
Replication Table Name - CATSObjectionRules
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="ChangeReasonCode" type="CATSChangeReasonCode"/>
					<xsd:element name="JurisdictionCode" type="JurisdictionCode"/>
					<xsd:element name="Role" type="RoleIdentifier"/>
					<xsd:element name="RoleStatus" type="CATSRoleStatus"/>
					<xsd:element name="NMIClassificationCode" type="NMIClassificationCode"/>
					<xsd:element name="ObjectionCode" type="CATSObjectionCode"/>
					<xsd:element name="Description" type="CATSObjectionRuleDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSStandingDataAccessRuleRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSStandingDataAccessRules table
MSATS Data Model Table - CATS_standing_data_access_rules
Replication Table Name - CATSStandingDataAccessRules
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="JurisdictionCode" type="JurisdictionCode"/>
					<xsd:element name="Role" type="RoleIdentifier"/>
					<xsd:element name="TableName" type="ReplicationTableName"/>
					<xsd:element name="DataItem" type="xsd:string"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r10" use="optional" default="r10"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Miscellaneous Replication Row Types -->
	<xsd:complexType name="ParticipantRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Participants table
MSATS Data Model Table - CATS_Participants
Replication Table Name - Participants
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="ParticipantID" type="PartyIdentifier"/>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="ShortName" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="ContactPhoneArea" type="xsd:string"/>
					<xsd:element name="ContactPhone" type="xsd:string"/>
					<xsd:element name="ContactMobile" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="Address1" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="Address2" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="Address3" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="City" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="State" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="Postcode" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="Country" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="DeregistrationCode" type="CATSDeregistrationCode" nillable="true" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParticipantRolesRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Participant Roles table
MSATS Data Model Table - CATS_Participant_Roles
Replication Table Name - ParticipantRoles
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="ParticipantID" type="PartyIdentifier"/>
					<xsd:element name="Role" type="RoleIdentifier"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSTransactionFieldValidationRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATSTransactionFieldValidations table
MSATS Data Model Table - CATS_Trans_Field_Validation
Replication Table Name - CATSTransactionFieldValidations
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="TransactionTypeCode" type="CATSTransactionTypeCode"/>
					<xsd:element name="ChangeReasonCode" type="CATSChangeReasonCode"/>
					<xsd:element name="Field" type="xsd:string"/>
					<xsd:element name="Table" type="xsd:string"/>
					<xsd:element name="DataSourceCode" type="CATSDataSourceCode"/>
					<xsd:element name="ProvideRole" type="RoleIdentifier" nillable="true" minOccurs="0"/>
					<xsd:element name="MustComplete" type="YesNo" nillable="true" minOccurs="0"/>
					<xsd:element name="RoleStatusNeeded" type="YesNo" nillable="true" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r19" use="optional" default="r19"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NationalCalendarRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the NationalCalender table
MSATS Data Model Table - MSATS_National_Calender
Replication Table Name - NationalCalendar
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="Date" type="xsd:date"/>
					<xsd:element name="Type" type="xsd:string"/>
					<xsd:element name="Description" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Electricity NMI Standing Data Replication Row Types -->
	<xsd:complexType name="ElectricityNMIMasterRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity NMI Master Standing Data table
MSATS Data Model Table - CATS_NMI_Data
Replication Table Name - ElectricityNMIMaster
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="NMI" type="NMIBase"/>
					<xsd:group ref="ElectricityNMIMasterGroup"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r25" use="optional" default="r25"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ElectricityNMIDataStreamGroup">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Common NMI Data Stream elements across Standing Data and Change Requests
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Suffix" type="NMIDataStreamSuffix"/>
			<xsd:element name="ProfileName" type="ProfileName" nillable="true" minOccurs="0"/>
			<xsd:element name="AveragedDailyLoad" type="AveragedDailyLoad" nillable="true" minOccurs="0"/>
			<xsd:element name="DataStreamType" type="DataStreamType" nillable="true" minOccurs="0"/>
			<xsd:element name="Status" type="NMIStatusCode" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="ElectricityNMIDataStreamRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity NMI Data Stream table
MSATS Data Model Table - CATS_NMI_Data_Stream
Replication Table Name - ElectricityNMIDataStreams
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="NMI" type="NMIBase"/>
					<xsd:group ref="ElectricityNMIDataStreamGroup"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r31" use="optional" default="r31"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ElectricityNMIMeterGroup">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Common NMI Meter elements across Standing Data and Change Requests
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SerialNumber" type="MeterSerialNumber"/>
			<xsd:element name="NextScheduledReadDate" type="xsd:date" nillable="true" minOccurs="0"/>
			<xsd:element name="Location" type="MeterLocation" nillable="true" minOccurs="0"/>
			<xsd:element name="Hazard" type="MeterHazard" nillable="true" minOccurs="0"/>
			<xsd:element name="InstallationTypeCode" type="MeterInstallationTypeCode" nillable="true" minOccurs="0"/>
			<xsd:element name="Route" type="MeterRoute" nillable="true" minOccurs="0"/>
			<xsd:element name="Use" type="MeterUse" nillable="true" minOccurs="0"/>
			<xsd:element name="Point" type="MeterPoint" nillable="true" minOccurs="0"/>
			<xsd:element name="Manufacturer" type="MeterManufacturer" nillable="true" minOccurs="0"/>
			<xsd:element name="Model" type="MeterModel" nillable="true" minOccurs="0"/>
			<xsd:element name="TransformerLocation" type="MeterTransformerLocation" nillable="true" minOccurs="0"/>
			<xsd:element name="TransformerType" type="MeterTransformerType" nillable="true" minOccurs="0"/>
			<xsd:element name="TransformerRatio" type="MeterTransformerRatio" nillable="true" minOccurs="0"/>
			<xsd:element name="Constant" type="MeterConstant" nillable="true" minOccurs="0"/>
			<xsd:element name="LastTestDate" type="xsd:date" nillable="true" minOccurs="0"/>
			<xsd:element name="NextTestDate" type="xsd:date" nillable="true" minOccurs="0"/>
			<xsd:element name="TestResultAccuracy" type="MeterTestResultAccuracy" nillable="true" minOccurs="0"/>
			<xsd:element name="TestResultNotes" type="MeterTestResultNotes" nillable="true" minOccurs="0"/>
			<xsd:element name="TestPerformedBy" type="MeterTestPerformedBy" nillable="true" minOccurs="0"/>
			<xsd:element name="MeasurementType" type="MeterMeasurementType" nillable="true" minOccurs="0"/>
			<xsd:element name="ReadTypeCode" type="MeterReadTypeCode" nillable="true" minOccurs="0"/>
			<xsd:element name="RemotePhoneNumber" type="MeterRemotePhoneNumber" nillable="true" minOccurs="0"/>
			<xsd:element name="CommunicationsEquipmentType" type="MeterCommunicationsEquipmentType" nillable="true" minOccurs="0"/>
			<xsd:element name="CommunicationsProtocol" type="MeterCommunicationsProtocol" nillable="true" minOccurs="0"/>
			<xsd:element name="DataConversion" type="MeterDataConversion" nillable="true" minOccurs="0"/>
			<xsd:element name="DataValidations" type="MeterDataValidations" nillable="true" minOccurs="0"/>
			<xsd:element name="Status" type="NMIStatusCode" nillable="true" minOccurs="0"/>
			<xsd:element name="Program" type="MeterProgram" nillable="true" minOccurs="0"/>
			<xsd:element name="AdditionalSiteInformation" type="MeterAdditionalSiteInformation" nillable="true" minOccurs="0"/>
			<xsd:element name="EstimationInstructions" type="MeterEstimationInstructions" nillable="true" minOccurs="0"/>
			<xsd:element name="AssetManagementPlan" type="MeterAssetManagementPlan" nillable="true" minOccurs="0"/>
			<xsd:element name="CalibrationTables" type="MeterCalibrationTables" nillable="true" minOccurs="0"/>
			<xsd:element name="UserAccessRights" type="MeterUserAccessRights" nillable="true" minOccurs="0"/>
			<xsd:element name="Password" type="MeterPassword" nillable="true" minOccurs="0"/>
			<xsd:element name="TestCalibrationProgram" type="MeterTestCalibrationProgram" nillable="true" minOccurs="0"/>
			<xsd:element name="KeyCode" type="KeyCode" nillable="true" minOccurs="0"/>
			<xsd:element name="CustomerFundedMeter" type="CustomerFundedMeter" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="ElectricityNMIMeterRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity NMI Meter Register table
MSATS Data Model Table - CATS_Meter_Register
Replication Table Name - ElectricityNMIMeters
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="NMI" type="NMIBase"/>
					<xsd:group ref="ElectricityNMIMeterGroup"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r19" use="optional" default="r19"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ElectricityNMIRoleGroup">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Common NMI Role elements across Standing Data and Change Requests
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Party" type="PartyIdentifier" nillable="true"/>
			<xsd:element name="Role" type="RoleIdentifier"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="ElectricityNMIRoleRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity NMI Role Assignment table
MSATS Data Model Table - CATS_NMI_Participant_Relations
Replication Table Name - ElectricityNMIRoles
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="NMI" type="NMIBase"/>
					<xsd:group ref="ElectricityNMIRoleGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ElectricityNMIMeterRegisterGroup">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Common NMI Meter register  elements across Standing Data and Change Requests
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SerialNumber" type="MeterSerialNumber"/>
			<xsd:element name="RegisterID" type="MeterRegisterIdentifier"/>
			<xsd:element name="NetworkTariffCode" type="NetworkTariffCode" nillable="true" minOccurs="0"/>
			<xsd:element name="NetworkAdditionalInformation" type="MeterNetworkAdditionalInformation" nillable="true" minOccurs="0"/>
			<xsd:element name="UnitOfMeasure" type="MeterUnitOfMeasure" nillable="true" minOccurs="0"/>
			<xsd:element name="TimeOfDay" type="MeterTimeOfDay" nillable="true" minOccurs="0"/>
			<xsd:element name="Multiplier" type="MeterMultiplier" nillable="true" minOccurs="0"/>
			<xsd:element name="DialFormat" type="MeterDialFormat" nillable="true" minOccurs="0"/>
			<xsd:element name="Suffix" type="NMIDataStreamSuffix" nillable="true" minOccurs="0"/>
			<xsd:element name="ControlledLoad" type="MeterControlledLoad" nillable="true" minOccurs="0"/>
			<xsd:element name="ConsumptionType" type="MeterConsumptionType" nillable="true" minOccurs="0"/>
			<xsd:element name="Demand1" type="MeterDemand" nillable="true" minOccurs="0"/>
			<xsd:element name="Demand2" type="MeterDemand" nillable="true" minOccurs="0"/>
			<xsd:element name="Status" type="MeterRegisterStatusCode" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="ElectricityNMIMeterRegisterRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity NMI Meter Register Configuration table
MSATS Data Model Table - CATS_REGISTER_IDENTIFIER
Replication Table Name - ElectricityNMIMeterRegisters
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:element name="NMI" type="NMIBase"/>
					<xsd:group ref="ElectricityNMIMeterRegisterGroup"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r9" use="optional" default="r9"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- BDT Row Types -->
	<xsd:complexType name="ElectricityNMIMasterRowBDT">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity NMI Master Standing Data table extended by BDTStatus and Event for Bulk Data Tool
MSATS Data Model Table - CATS_NMI_Data
Replication Table Name - ElectricityNMIMaster
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:group ref="ElectricityNMIMasterGroup"/>
					<xsd:element name="BDTStatus" type="BDTStatus" minOccurs="0"/>
					<xsd:element name="Event" type="Event" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r25" use="optional" default="r25"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricityNMIDataStreamRowBDT">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity NMI DataStream Standing Data table extended by BDTStatus and Event for Bulk Data Tool
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:group ref="ElectricityNMIDataStreamGroup"/>
					<xsd:element name="BDTStatus" type="BDTStatus" minOccurs="0"/>
					<xsd:element name="Event" type="Event" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r31" use="optional" default="r31"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricityNMIMeterRowBDT">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity NMI Meter Standing Data table extended by BDTStatus and Event for Bulk Data Tool
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:group ref="ElectricityNMIMeterGroup"/>
					<xsd:element name="BDTStatus" type="BDTStatus" minOccurs="0"/>
					<xsd:element name="Event" type="Event" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r19" use="optional" default="r19"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricityNMIRoleRowBDT">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity NMI Role Standing Data table extended by BDTStatus and Event for Bulk Data Tool
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:group ref="ElectricityNMIRoleGroup"/>
					<xsd:element name="BDTStatus" type="BDTStatus" minOccurs="0"/>
					<xsd:element name="Event" type="Event" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r9" use="optional" default="r9"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricityNMIMeterRegisterRowBDT">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity NMI Meter Register Standing Data table extended by BDTStatus and Event for Bulk Data Tool
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationDateRangeRow">
				<xsd:sequence>
					<xsd:group ref="ElectricityNMIMeterRegisterGroup"/>
					<xsd:element name="BDTStatus" type="BDTStatus" minOccurs="0"/>
					<xsd:element name="Event" type="Event" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r9" use="optional" default="r9"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Electricity Change Request Replication Row Types -->
	<xsd:complexType name="CATSChangeRequestRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATS Change Request table
MSATS Data Model Table - CATS_Inbound_Change_Request
Replication Table Name - CATSChangeRequests
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="RequestID" type="CATSRequestIdentifier"/>
					<xsd:element name="ChangeReasonCode" type="CATSChangeReasonCode"/>
					<xsd:element name="ChangeStatusCode" type="CATSChangeStatusCode"/>
					<xsd:element name="Participant" type="PartyIdentifier"/>
					<xsd:element name="TransactionID" type="TransactionIdentifier"/>
					<xsd:element name="TransactionDate" type="xsd:date" nillable="true" minOccurs="0"/>
					<xsd:element name="ProposedDate" type="xsd:date" nillable="true" minOccurs="0"/>
					<xsd:element name="ActualChangeDate" type="xsd:date" nillable="true" minOccurs="0"/>
					<xsd:element name="MeterReadTypeCode" type="CATSReadTypeCode" nillable="true" minOccurs="0"/>
					<xsd:element name="ActualEndDate" type="xsd:date" nillable="true" minOccurs="0"/>
					<xsd:element name="InitiatingRequestID" type="CATSRequestIdentifier" nillable="true" minOccurs="0"/>
					<xsd:element name="NMI" type="NMIBase" nillable="true" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricityCATSChangeRequestNMIMasterRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity CATS Change Request NMI Master Standing Data table
MSATS Data Model Table - CATS_Inbound_NMI_Data
Replication Table Name - ElectricityCATSChangeRequestNMIMaster
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="RequestID" type="CATSRequestIdentifier"/>
					<xsd:group ref="ElectricityNMIMasterGroup"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r29" use="optional" default="r29"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricityCATSChangeRequestNMIDataStreamRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity CATSChange Request NMI Data Stream table
MSATS Data Model Table - CATS_Inbound_Streams
Replication Table Name - ElectricityCATSChangeRequestNMIDataStreams
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="RequestID" type="CATSRequestIdentifier"/>
					<xsd:group ref="ElectricityNMIDataStreamGroup"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r31" use="optional" default="r31"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricityCATSChangeRequestNMIMeterRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity CATS Change Request NMI Meter Register table
MSATS Data Model Table - CATS_Inbound_Meter_Register
Replication Table Name - ElectricityCATSChangeRequestNMIMeters
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="RequestID" type="CATSRequestIdentifier"/>
					<xsd:group ref="ElectricityNMIMeterGroup"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r29" use="optional" default="r29"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricityCATSChangeRequestNMIRoleRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity CATS Change Request NMI Role Assignment table
MSATS Data Model Table - CATS_Inbound_NMI_Participant_Relations
Replication Table Name - ElectricityCATSChangeRequestNMIRoles
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="RequestID" type="CATSRequestIdentifier"/>
					<xsd:group ref="ElectricityNMIRoleGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricityCATSChangeRequestNMIMeterRegisterRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity CATS Change Request NMI Meter Register Configuration  table
MSATS Data Model Table - CATS_Inbound_REGISTER_IDENTIFIER
Replication Table Name - ElectricityCATSChangeRequestNMIMeterRegisters
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="RequestID" type="CATSRequestIdentifier"/>
					<xsd:group ref="ElectricityNMIMeterRegisterGroup"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r29" use="optional" default="r29"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSChangeResponseRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATS Change Response table
MSATS Data Model Table - CATS_Outbound_Change_Requests
Replication Table Name - CATSChangeResponses
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="RequestID" type="CATSRequestIdentifier"/>
					<xsd:element name="NMI" type="NMIBase"/>
					<xsd:element name="Participant" type="PartyIdentifier"/>
					<xsd:element name="InitiatingTransactionID" type="TransactionIdentifier"/>
					<xsd:element name="TransactionID" type="TransactionIdentifier"/>
					<xsd:element name="Status" type="AcceptReject"/>
					<xsd:element name="TransactionTypeCode" type="CATSTransactionTypeCode" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r29" use="optional" default="r29"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSErrorsRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity CATS Errors table
MSATS Data Model Table - CATS_Outbound_Errors
Replication Table Name - CATSErrors
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="TransactionID" type="TransactionIdentifier"/>
					<xsd:element name="Code" type="EventCodeBase"/>
					<xsd:element name="Explanation" type="xsd:string" nillable="true" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Objection Replication Row Types -->
	<xsd:complexType name="CATSObjectionRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATS Objection table
MSATS Data Model Table - CATS_Inbound_Objections
Replication Table Name - CATSObjections
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="ObjectionID" type="CATSObjectionIdentifier"/>
					<xsd:element name="ObjectionCode" type="CATSObjectionCode"/>
					<xsd:element name="RequestID" type="CATSRequestIdentifier"/>
					<xsd:element name="Role" type="RoleIdentifier" minOccurs="0"/>
					<xsd:element name="Participant" type="PartyIdentifier"/>
					<xsd:element name="TransactionID" type="TransactionIdentifier"/>
					<xsd:element name="TransactionTypeCode" type="CATSTransactionTypeCode" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r29" use="optional" default="r29"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSObjectionResponseRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the Electricity Objection Response table
MSATS Data Model Table - CATS_Outbound_Objections
Replication Table Name - ElectricityObjectionResponses
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="ObjectionID" type="CATSObjectionIdentifier"/>
					<xsd:element name="ObjectionCode" type="CATSObjectionCode"/>
					<xsd:element name="RequestID" type="CATSRequestIdentifier"/>
					<xsd:element name="Role" type="RoleIdentifier"/>
					<xsd:element name="Participant" type="PartyIdentifier"/>
					<xsd:element name="InitiatingTransactionID" type="TransactionIdentifier"/>
					<xsd:element name="TransactionID" type="TransactionIdentifier"/>
					<xsd:element name="Status" type="AcceptReject"/>
					<xsd:element name="TransactionTypeCode" type="CATSTransactionTypeCode" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="r29" use="optional" default="r29"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- CATS Notification/Data Request Row Types -->
	<xsd:complexType name="CATSNotificationRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATS Notification table
MSATS Data Model Table - CATS_Outbound_Notifications
Replication Table Name - CATSNotifications
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="Participant" type="PartyIdentifier"/>
					<xsd:element name="RequestID" type="CATSRequestIdentifier"/>
					<xsd:element name="ChangeStatusCode" type="CATSChangeStatusCode"/>
					<xsd:element name="Role" type="RoleIdentifier"/>
					<xsd:element name="RoleStatus" type="CATSRoleStatus"/>
					<xsd:element name="TransactionID" type="TransactionIdentifier"/>
					<xsd:element name="ObjectionID" type="CATSObjectionIdentifier" nillable="true" minOccurs="0"/>
					<xsd:element name="ObjectionCode" type="CATSObjectionCode" nillable="true" minOccurs="0"/>
					<xsd:element name="ObjectionAction" type="CATSObjectionAction" nillable="true" minOccurs="0"/>
					<xsd:element name="ObjectingParticipant" type="PartyIdentifier" nillable="true" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CATSDataRequestRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the CATS Data Request table
MSATS Data Model Table - CATS_Outbound_Requests
Replication Table Name - CATSDataRequests
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="Participant" type="PartyIdentifier"/>
					<xsd:element name="TransactionID" type="TransactionIdentifier"/>
					<xsd:element name="DataRequest">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:any namespace="##any" processContents="skip"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NMIRangesRow">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Row of the NMI Ranges table
MSATS Data Model Table - CATS_NMI_RANGES
Replication Table Name – NMIRanges
		</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReplicationBaseRow">
				<xsd:sequence>
					<xsd:element name="Participant" type="PartyIdentifier" nillable="true" minOccurs="0"/>
					<xsd:element name="NMIBlockFrom" type="NMIBase" nillable="true" minOccurs="0"/>
					<xsd:element name="NMIBlockTo" type="NMIBase" nillable="true" minOccurs="0"/>
					<xsd:element name="NMIRangesAttribute" type="NMIRangesAttributeType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
