aseXML_r38/GasMarketWholesale_r34.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by ﻿Australian Energy Market Operator (Australian Energy Market Operator) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation>This schema file is part of the aseXML schema set, and is subject to the terms and conditions that are detailed in the aseXML_r*.xsd schema file with which this file is used</xsd:documentation>
	</xsd:annotation>
	<!-- ================================================================= -->
	<!-- Gas Specific Extensions on Market Transaction Payload Definitions -->
	<!-- ================================================================= -->
	<xsd:complexType name="GasRetrieveRequestData">
		<xsd:complexContent>
			<xsd:extension base="WholesaleRetrieveRequestData">
				<xsd:choice>
					<xsd:element name="BidSetId" type="xsd:long"/>
					<xsd:element name="BidId" type="xsd:long"/>
					<xsd:element name="BidSearch" type="GasBidSearchType"/>
					<xsd:element name="ForecastId" type="xsd:long"/>
					<xsd:element name="ForecastValidation" type="GasForecastValidationType"/>
					<xsd:element name="ForecastSearch" type="GasForecastSearchType"/>
					<xsd:element name="InjectionNominationHeaderId" type="xsd:long"/>
					<xsd:element name="InjectionNominationSearch" type="GasInjectionNominationSearchType"/>
					<xsd:element name="AgencyNominationId" type="xsd:long"/>
					<xsd:element name="AgencyNominationHeaderId" type="xsd:long"/>
					<xsd:element name="AgencyNominationSearch" type="GasAgencyNominationSearchType"/>
					<xsd:element name="AgencyConfirmationSearch" type="GasAgencyConfirmationSearchType"/>
					<xsd:element name="AmdqNominationHeaderId" type="xsd:long"/>
					<xsd:element name="AmdqNominationSearch" type="GasAmdqNominationSearchType"/>
				</xsd:choice>
				<xsd:attribute name="version" type="r30" use="optional" default="r30"/>
				<xsd:attribute name="contextType" type="GasRetrieveTransactionType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GasRetrieveResponseData">
		<xsd:complexContent>
			<xsd:extension base="WholesaleRetrieveResponseData">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="BidSet" type="GasBidSetType"/>
						<xsd:element name="Bid" type="GasBidType"/>
						<xsd:element name="Forecast" type="GasForecastType"/>
						<xsd:element name="ForecastValidationValues" type="GasForecastValuesType"/>
						<xsd:element name="InjectionNomination" type="GasIHNType"/>
						<xsd:element name="AgencyNomination" type="GasAgencyNomHeaderType"/>
						<xsd:element name="AgencyNominationDetail" type="GasAgencyNomDetailType"/>
						<xsd:element name="AgencyConfirmation" type="GasAgencyConfirmationHeaderType"/>
						<xsd:element name="AmdqNomination" type="GasANType"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="version" type="r31" use="optional" default="r31"/>
				<xsd:attribute name="contextType" type="GasRetrieveTransactionType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GasSearchRequestData">
		<xsd:complexContent>
			<xsd:extension base="WholesaleSearchRequestData">
				<xsd:choice>
					<xsd:element name="BidSearch" type="GasBidSearchType"/>
					<xsd:element name="ForecastSearch" type="GasForecastSearchType"/>
					<xsd:element name="InjectionNominationSearch" type="GasInjectionNominationSearchType"/>
					<xsd:element name="AgencyNominationSearch" type="GasAgencyNominationSearchType"/>
					<xsd:element name="AgencyConfirmationSearch" type="GasAgencyConfirmationSearchType"/>
					<xsd:element name="AmdqNominationSearch" type="GasAmdqNominationSearchType"/>
				</xsd:choice>
				<xsd:attribute name="version" type="r30" use="optional" default="r30"/>
				<xsd:attribute name="contextType" type="GasSearchTransactionType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GasSearchResponseData">
		<xsd:complexContent>
			<xsd:extension base="WholesaleSearchResponseData">
				<xsd:choice>
					<xsd:element name="Bids" type="GasBidsType"/>
					<xsd:element name="BidSetCGD" type="GasBidSetType"/>
					<xsd:element name="Forecasts" type="GasForecastsType"/>
					<xsd:element name="ForecastCGD" type="GasForecastType"/>
					<xsd:element name="InjectionNominations" type="GasInjectionNominationsType"/>
					<xsd:element name="InjectionCGD" type="GasIHNType"/>
					<xsd:element name="AgencyNominations" type="GasAgencyNominationsType"/>
					<xsd:element name="AgencyConfirmations" type="GasAgencyConfirmationsType"/>
					<xsd:element name="AmdqNominations" type="GasAmdqNominationsType"/>
					<xsd:element name="AmdqCGD" type="GasANType"/>
				</xsd:choice>
				<xsd:attribute name="version" type="r31" use="optional" default="r31"/>
				<xsd:attribute name="contextType" type="GasSearchTransactionType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GasSubmitRequestData">
		<xsd:complexContent>
			<xsd:extension base="WholesaleSubmitRequestData">
				<xsd:choice>
					<xsd:element name="BidSet" type="GasBidSetType"/>
					<xsd:element name="Forecast" type="GasForecastType"/>
					<xsd:element name="ForecastValidation" type="GasForecastValidationType"/>
					<xsd:element name="InjectionNomination" type="GasIHNType"/>
					<xsd:element name="AgencyNomination" type="GasAgencyNomHeaderType"/>
					<xsd:element name="AgencyNominationWithdraw" type="GasAgencyConfirmationType"/>
					<xsd:element name="AgencyNominationConfirmation" type="GasAgencyConfirmationType"/>
					<xsd:element name="AgencyWithdrawnNominationConfirmed" type="GasAgencyConfirmationType"/>
					<xsd:element name="AmdqNomination" type="GasANType"/>
				</xsd:choice>
				<xsd:attribute name="version" type="r31" use="optional" default="r31"/>
				<xsd:attribute name="contextType" type="GasSubmissionTransactionType" use="required"/>
				<xsd:attribute name="applyTo" type="GasSubmissionType" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GasSubmitResponseData">
		<xsd:complexContent>
			<xsd:extension base="WholesaleSubmitResponseData">
				<xsd:choice>
					<xsd:element name="BidSet" type="GasBidSetType"/>
					<xsd:element name="Forecast" type="GasForecastType"/>
					<xsd:element name="InjectionNomination" type="GasIHNType"/>
					<xsd:element name="AgencyNomination" type="GasAgencyNomHeaderType"/>
					<xsd:element name="AgencyNominationWithdraw" type="GasAgencyNomHeaderType"/>
					<xsd:element name="AgencyNominationConfirmation" type="GasAgencyConfirmationHeaderType"/>
					<xsd:element name="AgencyWithdrawnNominationConfirmed" type="GasAgencyConfirmationHeaderType"/>
					<xsd:element name="AmdqNomination" type="GasANType"/>
					<xsd:element name="Success" type="xsd:boolean"/>
				</xsd:choice>
				<xsd:attribute name="version" type="r31" use="optional" default="r31"/>
				<xsd:attribute name="contextType" type="GasSubmissionTransactionType" use="required"/>
				<xsd:attribute name="applyTo" type="GasSubmissionType" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GasInformationRequestData">
		<xsd:complexContent>
			<xsd:extension base="WholesaleInformationRequestData">
				<xsd:attribute name="version" type="r20" use="optional" default="r20"/>
				<xsd:attribute name="contextType" type="GasInformationTransactionType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GasInformationResponseData">
		<xsd:complexContent>
			<xsd:extension base="WholesaleInformationResponseData">
				<xsd:choice>
					<xsd:element name="CurrentMarketDate" type="xsd:dateTime"/>
					<xsd:element name="MarketIntervalInfo" type="MarketIntervalInfoType"/>
				</xsd:choice>
				<xsd:attribute name="version" type="r20" use="optional" default="r20"/>
				<xsd:attribute name="contextType" type="GasInformationTransactionType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ================================================================= -->
	<!-- Gas Specific Complex Types -->
	<!-- ================================================================= -->
	<xsd:complexType name="GasBidSetsType">
		<xsd:sequence>
			<xsd:element name="BidSet" type="GasBidSetType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasBidSetType">
		<xsd:sequence>
			<xsd:element name="BidType" type="GasInjectWithdrawType"/>
			<xsd:element name="Period" type="Period"/>
			<xsd:element name="NMI" type="NMI"/>
			<xsd:element name="Bids" type="GasBidsType"/>
			<xsd:element name="BidSetId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="CompanyId" type="xsd:int" minOccurs="0"/>
			<xsd:element name="LastModifiedBy" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:whiteSpace value="collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasBidsType">
		<xsd:sequence>
			<xsd:element name="Bid" type="GasBidType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasBidType">
		<xsd:sequence>
			<xsd:element name="BidSteps" type="GasBidStepsType"/>
			<xsd:element name="BidSetId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="BidId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="HorizonIndex" type="xsd:int" minOccurs="0"/>
			<xsd:element name="MinimumDailyQuantity" type="xsd:int" minOccurs="0"/>
			<xsd:element name="LastModifiedBy" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:whiteSpace value="collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasBidStepsType">
		<xsd:sequence>
			<xsd:element name="BidStep" type="GasBidStepType" maxOccurs="10"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasBidStepType">
		<xsd:sequence>
			<xsd:element name="Step" type="GasBidStepNumberType"/>
			<xsd:element name="Price" type="xsd:float"/>
			<xsd:element name="DailyQuantity" type="xsd:int"/>
			<xsd:element name="BidId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="LastModifiedBy" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:whiteSpace value="collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasBidSearchType">
		<xsd:sequence>
			<xsd:element name="BidType" type="GasInjectWithdrawType"/>
			<xsd:element name="NMI" type="NMI"/>
			<xsd:element name="Period" type="Period" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasForecastValidationType">
		<xsd:sequence>
			<xsd:element name="SpecificSite" type="xsd:boolean"/>
			<xsd:element name="NMI" type="NMI" minOccurs="0"/>
			<xsd:element name="ValidationValues" type="GasForecastValuesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasForecastSearchType">
		<xsd:sequence>
			<xsd:element name="SpecificSite" type="xsd:boolean"/>
			<xsd:element name="NMI" type="NMI" minOccurs="0"/>
			<xsd:element name="Period" type="Period" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasForecastsType">
		<xsd:sequence>
			<xsd:element name="Forecast" type="GasForecastType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasForecastType">
		<xsd:sequence>
			<xsd:element name="Period" type="Period"/>
			<xsd:element name="ForecastValues" type="GasForecastValuesType"/>
			<xsd:element name="ForecastId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="CompanyId" type="xsd:int" minOccurs="0"/>
			<xsd:element name="SpecificSite" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="NMI" type="NMI" minOccurs="0"/>
			<xsd:element name="LastModifiedBy" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:whiteSpace value="collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasForecastValuesType">
		<xsd:sequence>
			<xsd:element name="ForecastValue" minOccurs="24" maxOccurs="24">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:int">
							<xsd:attribute name="hour" type="xsd:time"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasInjectionNominationSearchType">
		<xsd:sequence>
			<xsd:element name="Period" type="Period" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasInjectionNominationsType">
		<xsd:sequence>
			<xsd:element name="Nomination" type="GasIHNType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasIHNType">
		<xsd:sequence>
			<xsd:element name="NominationHeader" type="GasIHNHeaderType"/>
			<xsd:element name="IHNS" type="GasIHNAMDQSType" minOccurs="0"/>
			<xsd:element name="AMIQS" type="GasIHNAMIQSType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasIHNHeaderType">
		<xsd:sequence>
			<xsd:element name="Period" type="Period"/>
			<xsd:element name="CompanyId" type="xsd:int" minOccurs="0"/>
			<xsd:element name="HeaderId" type="xsd:long" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasIHNAMDQSType">
		<xsd:sequence>
			<xsd:element name="IHN" type="GasIHNAMDQType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasIHNAMDQType">
		<xsd:sequence>
			<xsd:element name="CloseProximityPoint" type="NMI"/>
			<xsd:element name="Quantity" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasIHNAMIQSType">
		<xsd:sequence>
			<xsd:element name="AMIQ" type="GasIHNAMIQType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasIHNAMIQType">
		<xsd:sequence>
			<xsd:element name="IntervalId" type="xsd:int"/>
			<xsd:element name="Value" type="xsd:float"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAgencyNominationSearchType">
		<xsd:sequence>
			<xsd:element name="CloseProximityPoint" type="NMI"/>
			<xsd:element name="Period" type="Period" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAgencyNominationsType">
		<xsd:sequence>
			<xsd:element name="AgencyNomination" type="GasAgencyNomHeaderType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAgencyNomHeaderType">
		<xsd:sequence>
			<xsd:element name="CloseProximityPoint" type="NMI"/>
			<xsd:element name="Period" type="Period"/>
			<xsd:element name="CompanyId" type="xsd:int" minOccurs="0"/>
			<xsd:element name="HeaderId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="ApportionType" type="GasAgencyApportionmentType" minOccurs="0"/>
			<xsd:element name="LastModifiedBy" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:whiteSpace value="collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="Nominations" type="GasAgencyNomDetailsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAgencyNomDetailsType">
		<xsd:sequence>
			<xsd:element name="Nomination" type="GasAgencyNomDetailType" maxOccurs="10"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAgencyNomDetailType">
		<xsd:sequence>
			<xsd:element name="NomineeId" type="xsd:int"/>
			<xsd:element name="Quantity" type="xsd:int"/>
			<xsd:element name="HeaderId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="NominationId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="PreferenceOrder" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NominationStatus" type="GasNominationStatusType" minOccurs="0"/>
			<xsd:element name="LastModifiedBy" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:whiteSpace value="collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAgencyNomStatusHistoryType">
		<xsd:sequence>
			<xsd:element name="HeaderId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="NominationId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="NominationStatus" type="GasNominationStatusType" minOccurs="0"/>
			<xsd:element name="NominationDate" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="NominationConfirmedDate" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="WithdrawalDate" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="WithdrawalConfirmedDate" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="CreatedDate" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAgencyConfirmationsType">
		<xsd:sequence>
			<xsd:element name="AgencyConfirmation" type="GasAgencyConfirmationHeaderType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAgencyConfirmationHeaderType">
		<xsd:sequence>
			<xsd:element name="NominationId" type="xsd:long"/>
			<xsd:element name="CloseProximityPoint" type="NMI"/>
			<xsd:element name="Period" type="Period"/>
			<xsd:element name="LastModifiedBy" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:whiteSpace value="collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LastModifiedDate" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="NomineeId" type="xsd:int" minOccurs="0"/>
			<xsd:element name="Quantity" type="xsd:int" minOccurs="0"/>
			<xsd:element name="NominationStatus" type="GasNominationStatusType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAgencyConfirmationType">
		<xsd:sequence>
			<xsd:element name="NominationId" type="xsd:long"/>
			<xsd:element name="CompanyId" type="xsd:int" minOccurs="0"/>
			<xsd:element name="NominationStatus" type="GasNominationStatusType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAgencyConfirmationSearchType">
		<xsd:sequence>
			<xsd:element name="CloseProximityPoint" type="NMI"/>
			<xsd:element name="Period" type="Period" minOccurs="0"/>
			<xsd:element name="InjectorId" type="xsd:int" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasIntervalInfoType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:int"/>
			<xsd:element name="CutoffTime" type="xsd:dateTime"/>
			<xsd:element name="PublishTime" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MarketIntervalInfoType">
		<xsd:sequence>
			<xsd:element name="CurrentInterval" type="GasIntervalInfoType"/>
			<xsd:element name="NextInterval" type="GasIntervalInfoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAmdqNominationSearchType">
		<xsd:sequence>
			<xsd:element name="CloseProximityPoint" type="NMI"/>
			<xsd:element name="Period" type="Period" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasAmdqNominationsType">
		<xsd:sequence>
			<xsd:element name="Nomination" type="GasANType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasANType">
		<xsd:sequence>
			<xsd:element name="NominationHeader" type="GasANHeaderType"/>
			<xsd:element name="MDQNS" type="GasANAMDQSType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasANHeaderType">
		<xsd:sequence>
			<xsd:element name="CloseProximityPoint" type="NMI"/>
			<xsd:element name="Period" type="Period"/>
			<xsd:element name="HeaderId" type="xsd:long" minOccurs="0"/>
			<xsd:element name="CompanyId" type="xsd:int" minOccurs="0"/>
			<xsd:element name="AvailableAMDQGJ" type="xsd:float" minOccurs="0"/>
			<xsd:element name="LastModifiedBy" minOccurs="0"/>
			<xsd:element name="LastModifiedDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasANAMDQSType">
		<xsd:sequence>
			<xsd:element name="MDQN" type="GasANAMDQType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GasANAMDQType">
		<xsd:sequence>
			<xsd:element name="NMI" type="NMI"/>
			<xsd:element name="Value" type="xsd:float"/>
			<xsd:element name="AMDQNominationGJ" type="xsd:float" minOccurs="0"/>
			<xsd:element name="CumulativeUsedAMDQPct" type="xsd:float" nillable="true" minOccurs="0"/>
			<xsd:element name="CumulativeUsedAMDQGJ" type="xsd:float" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================= -->
	<!-- Gas Specific Simple Types -->
	<!-- ================================================================= -->
	<xsd:simpleType name="GasRetrieveTransactionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Bid"/>
			<xsd:enumeration value="BidSet"/>
			<xsd:enumeration value="BidSetCGD"/>
			<xsd:enumeration value="Forecast"/>
			<xsd:enumeration value="ForecastCGD"/>
			<xsd:enumeration value="ForecastValidation"/>
			<xsd:enumeration value="InjectionNomination"/>
			<xsd:enumeration value="InjectionNominationCGD"/>
			<xsd:enumeration value="AgencyNominationHeader"/>
			<xsd:enumeration value="AgencyNominationDetail"/>
			<xsd:enumeration value="AgencyConfirmationHeader"/>
			<xsd:enumeration value="AmdqNomination"/>
			<xsd:enumeration value="AmdqNominationCGD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GasSearchTransactionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Bid"/>
			<xsd:enumeration value="Forecast"/>
			<xsd:enumeration value="InjectionNomination"/>
			<xsd:enumeration value="AgencyNomination"/>
			<xsd:enumeration value="AgencyConfirmation"/>
			<xsd:enumeration value="AmdqNomination"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GasSubmissionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Current Day"/>
			<xsd:enumeration value="Day Plus One"/>
			<xsd:enumeration value="Day Plus Two"/>
			<xsd:enumeration value="Standing"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GasSubmissionTransactionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Bid"/>
			<xsd:enumeration value="Forecast"/>
			<xsd:enumeration value="ForecastValidation"/>
			<xsd:enumeration value="InjectionNomination"/>
			<xsd:enumeration value="AgencyNomination"/>
			<xsd:enumeration value="AgencyNominationConfirmation"/>
			<xsd:enumeration value="AgencyWithdrawnNominationConfirmed"/>
			<xsd:enumeration value="AgencyNominationWithdraw"/>
			<xsd:enumeration value="AmdqNomination"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GasInformationTransactionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CGD"/>
			<xsd:enumeration value="IntervalInfo"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GasInjectWithdrawType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INJEC"/>
			<xsd:enumeration value="CTLW"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GasBidStepNumberType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GasNominationStatusType">
		<xsd:annotation>
			<xsd:documentation>NOMD:Agency Nominated, NCON:Nomination Confirmed, NWDN:Nomination Withdrawn, WCON:Nomination Withdrawn Confirmed</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NOMD"/>
			<xsd:enumeration value="NCON"/>
			<xsd:enumeration value="NWDN"/>
			<xsd:enumeration value="WCON"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GasAgencyApportionmentType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PROR"/>
			<xsd:enumeration value="PREF"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================= -->
	<!-- NSWGAS Specific Wholesale Trasaction Types -->
	<!-- ================================================================= -->
	<xsd:complexType name="TotalGasInjectedNotification">
		<xsd:annotation>
			<xsd:documentation>Total Gas Quantity of Gas Injected At Network Receipt Points</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="TotalGasInjectedData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TotalGasInjected" type="QuantityOfGasMJ"/>
					</xsd:sequence>
					<xsd:attribute name="gasDate" type="xsd:date" use="required"/>
					<xsd:attribute name="networkID" type="NetworkID" use="required"/>
					<xsd:attribute name="networkReceiptPointID" type="NetworkReceiptPointID" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="version" type="r34" use="optional" default="r34"/>
	</xsd:complexType>
	<xsd:complexType name="LinepackAndUnaccountedForGasNotification">
		<xsd:annotation>
			<xsd:documentation>Linepack And Unaccounted For Gas</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="LinepackAndUnaccountedForGasData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ChangeInLinepack" type="QuantityOfGasMJ" minOccurs="0"/>
						<xsd:element name="UnaccountedForGas" type="QuantityOfGasMJ"/>
					</xsd:sequence>
					<xsd:attribute name="gasDate" use="required"/>
					<xsd:attribute name="networkID" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="version" type="r34" use="optional" default="r34"/>
	</xsd:complexType>
	<xsd:complexType name="ParticipantCLPandUAGNotification">
		<xsd:annotation>
			<xsd:documentation>Participant's CLP and UAG data from network operator</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="ParticipantCLPAndUAGData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ChangeInLinepack" type="QuantityOfGasMJ"/>
						<xsd:element name="UnaccountedForGas" type="QuantityOfGasMJ"/>
					</xsd:sequence>
					<xsd:attribute name="gasDate" type="xsd:date" use="required"/>
					<xsd:attribute name="networkID" type="NetworkID" use="required"/>
					<xsd:attribute name="participantID" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="version" type="r34" use="optional" default="r34"/>
	</xsd:complexType>
	<xsd:complexType name="MatchedAllocationsDataNotification">
		<xsd:annotation>
			<xsd:documentation>Matched Allocation Data from Network Operator</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="MatchedAllocationsData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Quantity" type="QuantityOfGasMJ"/>
					</xsd:sequence>
					<xsd:attribute name="gasDate" type="xsd:date" use="required"/>
					<xsd:attribute name="networkID" type="NetworkID" use="required"/>
					<xsd:attribute name="participantID" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="version" type="r34" use="optional" default="r34"/>
	</xsd:complexType>
	<xsd:complexType name="DailyImbalanceNotification">
		<xsd:annotation>
			<xsd:documentation>Notification of Daily Imbalance</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="DailyImbalanceData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DailyImbalance" type="QuantityOfGasMJ"/>
					</xsd:sequence>
					<xsd:attribute name="gasDate" type="xsd:date" use="required"/>
					<xsd:attribute name="networkID" type="NetworkID" use="required"/>
					<xsd:attribute name="participantID" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="version" type="r34" use="optional" default="r34"/>
	</xsd:complexType>
	<xsd:complexType name="ImbalanceTradeRequest">
		<xsd:annotation>
			<xsd:documentation>A request to trade an imbalance amount</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ImbalanceRequestData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TradeType" type="TradeType"/>
						<xsd:element name="CounterpartyParticipantID" type="PartyIdentifier"/>
						<xsd:element name="TradedImbalanceAmount" type="QuantityOfGasMJ"/>
					</xsd:sequence>
					<xsd:attribute name="gasDate" type="xsd:date" use="required"/>
					<xsd:attribute name="networkID" type="NetworkID" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="version" type="r34" use="optional" default="r34"/>
	</xsd:complexType>
	<xsd:complexType name="ParticipantImbalanceAmountRequest">
		<xsd:annotation>
			<xsd:documentation>Request for Participant Imbalance Amount</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ParticipantImbalanceAmountData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ParticipantImbalanceAmount" type="QuantityOfGasMJ"/>
					</xsd:sequence>
					<xsd:attribute name="gasDate" type="xsd:date" use="required"/>
					<xsd:attribute name="networkID" type="NetworkID" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="version" type="r34" use="optional" default="r34"/>
	</xsd:complexType>
	<!-- ================================================================= -->
	<!-- NSWGAS Specific Simple and Complex Sub-Types -->
	<!-- ================================================================= -->
	<xsd:simpleType name="NetworkReceiptPointID">
		<xsd:annotation>
			<xsd:documentation>A unique identifier for a Network Receipt Point</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:minLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeterReadingFrequencyTypeBase">
		<xsd:annotation>
			<xsd:documentation>
				NSW/ACT Meter Reading Frequency Types
				D - Daily
				N - Non Daily
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MeterReadingFrequencyType">
		<xsd:annotation>
			<xsd:documentation>Identifies a Delivery Point Reading Frequency as Daily or Non Daily</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MeterReadingFrequencyTypeCode" type="MeterReadingFrequencyTypeBase"/>
			<xsd:element name="Description" type="Description" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Simple Types-->
	<xsd:simpleType name="ApportionmentPercentage">
		<xsd:annotation>
			<xsd:documentation>The Percentage of Net Section Load attributable to consumption by a User's customers.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="10"/>
			<xsd:fractionDigits value="7"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TradeType">
		<xsd:annotation>
			<xsd:documentation>
				The type of an imbalance trade.Types
				B - Buy
				S - Sell
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:enumeration value="B"/>
			<xsd:enumeration value="S"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QuantityOfGasMJ">
		<xsd:annotation>
			<xsd:documentation>A quantity of Gas measured in Megajoules. 
				Sometimes the corrections/adjustments could be negative.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-99999999999"/>
			<xsd:maxInclusive value="99999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Description">
		<xsd:annotation>
			<xsd:documentation>Generic Type for descriptions</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
