WebContent/wsdl/WsToken.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.payment.kgstore.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.payment.kgstore.com" xmlns:intf="http://webservice.payment.kgstore.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.payment.kgstore.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getToken">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTokenResponse">
    <complexType>
     <sequence>
      <element name="getTokenReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTokenRequest">

      <wsdl:part element="impl:getToken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTokenResponse">

      <wsdl:part element="impl:getTokenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WsToken">

      <wsdl:operation name="getToken">

         <wsdl:input message="impl:getTokenRequest" name="getTokenRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTokenResponse" name="getTokenResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WsTokenSoapBinding" type="impl:WsToken">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WsTokenService">

      <wsdl:port binding="impl:WsTokenSoapBinding" name="WsToken">

         <wsdlsoap:address location="http://localhost:8080/Payment/services/WsToken"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
